<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
    <script>
        function LimpiarCampos() {
            document.getElementById("usuario").value="";
            document.getElementById("password").value="";
            document.getElementById("nombre").value="";
            document.getElementById("apellido").value="";
            document.getElementById("cMunicipio").selectedIndex= 0;
            document.getElementById("dir").value="";

        }

    </script>
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark border-bottom bg-dark">
        <a class="navbar-brand" href="/mainMenu">
            <img src="imgs/logo_letrasB.png" class="d-inline-block align-top" style="width: 200px" alt="logo" loading="lazy">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/mainMenu">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/ListadoCentroEd">Centro Educativo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/ListadoMateria">Materias</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mr-3" href="/listadoUsuarios">Usuarios <span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>-->
            </ul>
            <form th:action="@{/cerrarSesion}" class="form-inline">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </nav>

    <section class="d-flex" >
        <div class="container align-self-center">
            <div class="row p-3">
                <div class="col-12">
                    <h1 class="mb-3 display-4"> Editar Usuario </h1>
                    <form th:action="@{/ModificarUsuario}" th:object="${usuario}" method="post">
                        <input type="hidden" id="idUsuario"  th:field="*{idUsuario}" >
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="usuario">Usuario</label>
                                <input type="text" id="usuario" class="form-control" th:field="*{nUsuario}" ><span th:errors="*{nUsuario}" style="color:  #e81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Nueva Contraseña (Dejar vacío para no modificar)</label>
                                <input type="password" id="password" class="form-control" th:field="*{Password}"></span>
                                <input type="hidden" th:field="*{clave}" class="form-control" ><span th:errors="*{clave}" style="color:  #E81505; display:none;"></span></td>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" th:field="*{nombre}" ><span th:errors="*{nombre}" style="color:  #E81505;"></span>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" class="form-control" th:field="*{apellido}" ><span th:errors="*{apellido}" style="color:  #E81505;"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fnac">Fecha de Nacimiento</label>
                                <input type="date" id="fnac" class="form-control" th:field="*{fechaNacimiento}" ><span th:errors="*{fechaNacimiento}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cMunicipio">Municipio</label>
                                <select id="cMunicipio" class="form-control" th:name="cMunicipio">
                                    <option th:each="m : ${municipios}"  th:text="${m.departamento.nombre + ',' + ' ' + m.nombre}" th:selected="(${m.idMunicipio} == *{municipio.idMunicipio})" th:value="${m.idMunicipio}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dir">Dirección</label>
                            <textarea id="dir" class="form-control" th:field="*{direccion}" rows="3" cols="50" style="resize: none"></textarea><span th:errors="*{direccion}" style="color:  #E81505;"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Modificar</button>
                        <button type="button" value="Limpiar" text="Limpiar" class="btn btn-warning" onclick="LimpiarCampos()">Limpiar campos</button>
                        <a href="/listadoUsuarios"><input type="button" value="Regresar" class="btn btn-outline-secondary"></a>
                    </form>
                </div>
            </div>
        </div>
    </section>


<script th:if="${msg == '1'}">
    swal("Algo ha salido mal...", "Ha ocurrido un error, revisa que la información ingresada sea correcta.", "error");
</script>
</body>
</html>