<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h1> Editar Centro Educativo </h1>
    <form th:action="@{/ModificarMateria}" th:object="${materia}" method="post">
        <table>
            <tr>
            <td><input type="text" th:field="*{idMateria}" hidden="hidden"></td>
            </tr>
            <tr>
            <td><label> Nombre: </label></td>
            <td><input type="text" th:field="*{nombre}"> </td>
            </tr>
            <tr>
            <td><input type="submit" value="Modificar"></td>
            </tr>
        </table>
    </form>
</div>
<a href="ListadoMateria">Regresar</a>
</body>
</html>