<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org" xmlns:xmlms="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Editar Materia Cursada</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark border-bottom bg-dark">
        <a class="navbar-brand" href="/expedientes">
            <img src="imgs/logo_letrasB.png" class="d-inline-block align-top" style="width: 200px" alt="logo" loading="lazy">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mx-3">
                    <a class="nav-link" href="/expedientes">Expedientes <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form th:action="@{/cerrarSesion}" class="form-inline">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </nav>

    <section class="d-flex" >
        <div class="container align-self-center">
            <div class="row p-3">
                <div class="col-12">
                    <h1 class="mb-4 display-4"> Editar Materia Cursada</h1>
                    <div th:object="${estudiante}">
                        <label><b>Nombre del estudiante:</b> <span id="nombre" th:text="*{nombre + ' ' + apellido}"></span></label><br>
                        <label><b>Carné:</b> <span id="carne" th:text="*{carne}"></span></label>
                    </div>
                    <form th:action="@{/edMateriaCursada}" th:object="${mxe}" class="mb-3" method="post" modelAttribute="mxe">
                        <input type="hidden" th:value="${estudiante.idEstudiante}" id="idEstudiante" name="idEstudiante">
                        <input type="hidden" id="idMateria" name="idMateria" th:value="*{materia.idMateria}">
                        <div class="form-group">
                            <label for="materia">Materia </label>
                            <input id="materia" type="text" disabled class="form-control" th:value="*{materia.nombre}">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="anio">Año de curso</label>
                                <select id="anio" class="form-control" th:field="*{anio}">
                                    <option th:each="a : ${anios}" th:value="${a}" th:text="${a}"></option>
                                </select>
                                <span th:errors="*{anio}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ciclo">Ciclo de curso </label>
                                <select id="ciclo" class="form-control" th:field="*{ciclo}">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                </select>
                                <span th:errors="*{ciclo}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="nota">Nota</label>
                                <input id="nota" class="form-control" type="number" step="0.01" min="0" max="10" th:field="*{nota}">
                                <span th:errors="*{nota}" style="color:  #E81505;"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                    <form th:action="@{/materiasCursadas}" th:object="${estudiante}" method="post">
                        <button class="btn btn-secondary" th:name="carne" th:value="*{carne}">Regresar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script th:if="${msg == '2'}">
        swal("Algo ha salido mal...", "Esa materia ya ha sido registrada para el usuario seleccionado.", "error");
    </script>

    <script th:if="${msg == '3'}">
        swal("Algo ha salido mal...", "Por favor revisa que la información proporcionada sea correcta.", "error");
    </script>

</body>
</html>