<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-md">
                    <h3 class=" d-flex justify-content-center justify-content-md-start align-self-center w-100 pb-5 pb-md-0">SULTRAL CORP.</h3>
                    <ul class="navbar-nav w-100 justify-content-around font-weight-bold" style="font-size: 18px;">
                        <li class="nav-item"><a href="/login" class="nav-link d-flex justify-content-center">Inicia Sesión</a></li>
                        <li class="nav-item"><a href="/registro" class="nav-link d-flex justify-content-center">Regístrate</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>