<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
</head>
<body>

    <div class="row px-5 pt-2 border-bottom m-0">
        <div class="col">
            <nav class="navbar navbar-expand-md">
                <a href="/index"><img src="imgs/logo_letrasN.png" class="img-fluid" alt="Responsive image"></a>
                    <ul class="navbar-nav w-100 justify-content-end font-weight-bold" style="font-size: 18px;">
                        <li class="nav-item"><a href="/registro"><button type="button" class="btn btn-outline-primary">Regístrate</button></a></li>
                    </ul>
            </nav>
        </div>
    </div>

    <section class="bg-light d-flex" style="height: 92vh">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-12 col-md-6 order-md-2">
                    <form id="userInfo" class="form-signin text-center bg-white shadow rounded" th:action="@{/verificar}"  th:object="${usuario}" method="post">
                        <img src="imgs/logo_sultral.png" class="img-fluid mt-3" alt="Responsive image" style="width: 90px;height: 90px;">
                        <h1 class="h3 font-weight-normal mb-3">Inicio de Sesión</h1>
                        <label for="inputUser" class="sr-only">Usuario</label>
                        <input id="inputUser" type="text" class="form-control" th:field="*{nUsuario}" placeholder="Usuario" required autofocus>
                        <label for="inputPass" class="sr-only">Contraseña</label>
                        <input id="inputPass" type="password" class="form-control mb-3" th:field="*{clave}" placeholder="Contraseña" required>
                        <button type="submit" class=" btn btn-lg btn-primary btn-block  mb-3">Ingresar</button>
                        <label class="text-danger" th:text="${error}"></label>
                    </form>
                </div>
                <div class="col-12 col-md-6 order-md-1 align-self-center">
                    <h1 class="display-4 pb-2">Módulo de Administración de Estudiantes</h1>
                    <p class="lead text-muted" style="font-size: 1.7em;">Kchau</p>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>