<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>

        //Ingresar centro educativo
        function ingresarForm() {
            //Referencias al ID de los input
            var nombre = $('#nombre').val();
            var estado = $('#estado').val();
            var municipio = $('#municipio').val();

            if (document.getElementById('estado').checked) {
                estado = true;
            } else {
                estado = false;
            }

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                url: '/ingresarCentroEd',
                dataType: 'json',
                data: JSON.stringify({
                    'nombre': nombre,
                    'estado': estado,
                    'cMunicipio': parseInt(municipio)
                }),
                success: function (res) {
                    alert(res);
                },
                error: function (e) {
                    alert(e);
                }

            });


        }

        //Desactivar/Activar estado centro educativo
        function cambiarEstadoForm(el) {
            //Referencias al ID de los input

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                url: '/cambiarEstadoCentroEd',
                dataType: 'json',
                data: JSON.stringify({
                    'idCentroEd': parseInt(el)
                }),
                success: function (res) {

                    window.location.reload();
                },
                error: function (e) {
                    alert(e);

                }

            });


        }

        //Editar form
        //Desactivar/Activar estado centro educativo
        function editarForm() {

            //Referencias al ID de los input
            var idCentro = $('#idCentroEd').val();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                url: '/editarCentroEd',
                dataType: 'json',
                data: JSON.stringify({
                    'idCentroEd': parseInt(idCentro)
                }),
                success: function (res) {

                    alert(res);
                },
                error: function (e) {
                    alert(e);
                }

            });


        }

    </script>
</head>
<body>

<div>
    <h1>Listado de Centros Educativos</h1>
    <table>
        <thead>
        <th> Codigo</th>
        <th> Nombre</th>
        <th> Estado</th>

        <th> Acciones</th>

        </thead>
        <th:block th:each="centro, row: ${centros}">
            <tr>
                <td th:text="${centro.idCentroEd}"/>
                <td th:text="${centro.nombre}"/>
                <td th:text="${centro.estado}"/>

                <td>
                    <td><button th:id="${centro.idCentroEd}" onclick="cambiarEstadoForm(this.id)"
                                  th:value="${centro.idCentroEd}">Cambiar estado </td>
                    <td>
                            <form th:action="@{/EditarForm}" th:object="${centroEd}" method="post">
                                <select th:field= "*{cMunicipio}" style="display:none">
                                    <option  th:text="${centro.idCentroEd}" th:value="${centro.idCentroEd}">
                                </select>

                                <input type="submit" th:value="${centro.idCentroEd}">
                            </form>
                        </td>

                </td>

            </tr>


        </th:block>


    </table>
</div>
<div>
    <h1> Ingresar Centro Educativo </h1>
    <label>Nombre: <input type="text" name="nombre" id="nombre"></label> <br>
    <label>Activo: <input type="checkbox" name="estado" id="estado"> </label> <br>
    <select id="municipio">
        <option th:each="municipio: ${municipios}" th:text="${municipio.departamento.nombre + ',' + ' ' + municipio.nombre}" th:value="${municipio.idMunicipio}">
    </select> <br> <br>
    <input type="button" value="Ingresar" onclick="ingresarForm()">
</div>
<!--
<div>
    <h1> Activar/Desactivar Centro Educativo </h1>
    <select id="idCentroEd">
        <option th:each="centro: ${centros}" th:text="${centro.nombre}" th:value="${centro.idCentroEd}">
    </select> <br> <br>
    <input type="button" value="Cambiar estado" onclick="cambiarEstadoForm()">
</div>
-->

</body>
</html>