<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmlms="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
    <script>


        //Desactivar/Activar estado centro educativo
        function cambiarEstadoForm(el) {
            //Referencias al ID de los input

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                url: '/cambiarEstadoMateria',
                dataType: 'json',
                data: JSON.stringify({
                    'idMateria': parseInt(el)
                }),
                success: function (res) {
                    window.location.reload();
                },
                error: function (e) {

                }

            });


        }

        //Editar form
        //Desactivar/Activar estado centro educativo
        function editarForm() {

            //Referencias al ID de los input
            var idCentro = $('#idCentroEd').val();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                url: '/EditarMateria',
                dataType: 'json',
                data: JSON.stringify({
                    'idMateria': parseInt(idCentro)
                }),
                success: function (res) {

                    alert(res);
                },
                error: function (e) {
                    alert(e);
                }

            });


        }

    </script>
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark border-bottom bg-dark">
        <a class="navbar-brand" href="/mainMenu">
            <img src="imgs/logo_letrasB.png" class="d-inline-block align-top" style="width: 200px" alt="logo" loading="lazy">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/mainMenu">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/ListadoCentroEd">Centro Educativo</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mr-3" href="/ListadoMateria">Materias <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/listadoUsuarios">Usuarios</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>-->
            </ul>
            <form th:action="@{/cerrarSesion}" class="form-inline">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </nav>

    <section class="d-flex" >
        <div class="container align-self-center">
            <div class="row p-3">
                <div class="col-12">
                    <h1 class="mb-3 display-4"> Listado de Materias </h1>
                    <div class="d-flex w-100 mb-2 justify-content-end">
                        <a href="/IngresarMateria"><button type="button" class="btn btn-sm btn-success">Ingresar Materia</button></a>
                    </div>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Codigo</th>
                            <th scope="col"> Nombre</th>
                            <th scope="col"> Estado</th>
                            <th scope="col" colspan="2"> Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="materia, row: ${materias}">
                            <tr>
                                <th scope="row" th:text="${materia.idMateria}"/>
                                <td th:text="${materia.nombre}"/>
                                <td th:text="${materia.EstadoDelegate}"/>

                                <td><button class="btn btn-sm btn-outline-primary" th:id="${materia.idMateria}" onclick="cambiarEstadoForm(this.id)"
                                            th:value="${materia.idMateria}">Cambiar estado </button>
                                </td>
                                <td>
                                    <form th:action="@{/EditarMateria}" th:object="${materia}" method="post">

                                        <button class="btn btn-sm btn-outline-primary" th:name="cMateria" th:value="${materia.idMateria}"> Editar </button>
                                    </form>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

<script th:if="${msg == '1'}">
    swal("¡Éxito!", "Se ha modificado la materia correctamente.", "success");
</script>
<script th:if="${msg == '2'}">
    swal("Algo ha salido mal...", "Ha ocurrido un error, revisa que la información ingresada sea correcta.", "error");
</script>
</body>
</html>