<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listado Usuarios</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
    <script src="https://kit.fontawesome.com/b20aef55a4.js" crossorigin="anonymous"></script>
    <script>

        //Desactivar/Activar estado centro educativo
        function cambiarEstadoForm(el) {
            //Referencias al ID de los input

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                url: '/cambiarEstadoUsuario',
                dataType: 'json',
                data: JSON.stringify({
                    'idUsuario': parseInt(el)
                }),
                success: function (res) {
                    window.location.reload();
                },
                error: function (e) {
                    alert(e);

                }
            });
        }
    </script>
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark border-bottom bg-dark">
        <a class="navbar-brand" href="/mainMenu">
            <img src="imgs/logo_letrasB.png" class="d-inline-block align-top" style="width: 200px" alt="logo" loading="lazy">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/mainMenu">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/ListadoCentroEd">Centro Educativo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/ListadoMateria">Materias</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mr-3" href="/listadoUsuarios">Usuarios <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form th:action="@{/cerrarSesion}" class="form-inline">
                <button class="btn btn-danger my-2 my-sm-0" type="submit"><i class="fas fa-sign-out-alt pull-left"></i> Cerrar Sesión</button>
            </form>
        </div>
    </nav>

    <section class="d-flex" >
        <div class="container align-self-center">
            <div class="row p-3">
                <div class="col-12">
                    <h1 class="mb-3 display-4"> Listado de Usuarios</h1>
                    <table class="table table-hover text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Código</th>
                            <th scope="col"> Usuario</th>
                            <th scope="col"> Estado</th>
                            <th scope="col"> Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="usuario, row: ${usuarios}">
                            <tr>
                                <th scope="row" th:text="${usuario.idUsuario}"/>
                                <td th:text="${usuario.nUsuario}"/>
                                <td th:text="${usuario.estadoDelegate}"/>

                                <td class="row justify-content-center">

                                    <button class="btn btn-sm btn-outline-primary" th:id="${usuario.idUsuario}" onclick="cambiarEstadoForm(this.id)"
                                            th:value="${usuario.idUsuario}"><i class="fas fa-exchange-alt pull-left"></i> Cambiar estado </button>

                                    <form th:action="@{/EditarUsuario}" th:object="${usuario}" method="post" style="margin-left: 10px;">
                                        <button class="btn btn-sm btn-outline-primary" th:name="idUsuario" th:value="${usuario.idUsuario}"><i class="fas fa-pencil-alt pull-left"></i> Editar </button>
                                    </form>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</body>
</html>