<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmlms="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>

        //Desactivar/Activar estado centro educativo
        function cambiarEstadoForm(el) {
            //Referencias al ID de los input

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                url: '/cambiarEstadoCentroEd',
                dataType: 'json',
                data: JSON.stringify({
                    'idCentroEd': parseInt(el)
                }),
                success: function (res) {

                    window.location.reload();
                },
                error: function (e) {
                    alert(e);

                }

            });


        }
    </script>
</head>
<body>

<div>
    <h1>Listado de Centros Educativos</h1>
    <table>
        <thead>
        <th> Codigo</th>
        <th> Nombre</th>
        <th> Estado</th>
        <th> Acciones</th>

        </thead>
        <th:block th:each="centro, row: ${centros}">
            <tr>
                <td th:text="${centro.idCentroEd}"/>
                <td th:text="${centro.nombre}"/>
                <td th:text="${centro.EstadoDelegate}"/>

                    <td><button th:id="${centro.idCentroEd}" onclick="cambiarEstadoForm(this.id)"
                                th:value="${centro.idCentroEd}">Cambiar estado </button>
                    </td>
                    <td>
                            <form th:action="@{/EditarForm}" th:object="${centroEd}" method="post">
                                <select th:field= "*{cMunicipio}" style="display:none">
                                    <option  th:text="${centro.idCentroEd}" th:value="${centro.idCentroEd}">
                                </select>
                                <button type="submit" th:value="${centro.idCentroEd}"> Editar </button>
                            </form>
                    </td>
            </tr>
        </th:block>
    </table>
</div>
<a href="IngresarUsuario">Ingresar Centro Educativo</a>
</body>
</html>