<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
    <script>
    //Ingresar centro educativo
    function ingresarForm() {
    //Referencias al ID de los input
    var nombre = $('#nombre').val();
    var estado = $('#estado').val();


    if (document.getElementById('estado').checked) {
    estado = true;
    } else {
    estado = false;
    }

    $.ajax({
    contentType: 'application/json; charset=utf-8',
    type: 'post',
    url: '/RegistrarMateria',
    dataType: 'json',
    data: JSON.stringify({
    'nombre': nombre,
    'estado': estado,

    }),
    success: function (res) {
        if(res == "1") {
            swal("¡Éxito!", "Se ha registrado la materia.", "success");
        }else if(res =="2"){
            document.getElementById('errorNombre').hidden= false;
        }

    },
    error: function (e) {
        swal("Algo ha salido mal...", "Ha ocurrido un error, revisa que la información ingresada sea correcta.", "error");
    }

    });


    }
    </script>
</head>
<body>
<div>
    <h1> Ingresar Materia </h1>
    <table>
        <tr>
        <td> <label>Nombre: </label></td>
        <td> <input type="text" name="nombre" id="nombre"><br><label id="errorNombre" hidden="true" style="color:  #E81505;">El campo debe tener al menos 1 caracter y máximo 50<label> </td>
        </tr>
        <tr>
        <td> <label>Activo: </label></td>
        <td> <input type="checkbox" name="estado" id="estado"> </td>
        </tr>

        <td><input type="button" value="Ingresar" onclick="ingresarForm()">
    </table>
</div>
<a href="/ListadoMateria">Regresar</a>

</body>
</html>