<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org" xmlns:xmlms="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro Estudiante</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark border-bottom bg-dark">
        <a class="navbar-brand" href="/expedientes">
            <img src="imgs/logo_letrasB.png" class="d-inline-block align-top" style="width: 200px" alt="logo" loading="lazy">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mx-3">
                    <a class="nav-link" href="/expedientes">Expedientes <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form th:action="@{/cerrarSesion}" class="form-inline">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </nav>

    <section class="d-flex">
        <div class="container align-self-center">
            <div class="row p-3">
                <div class="col-12">
                    <h1 class="mb-3 display-4"> Registrar Estudiante </h1>
                    <form th:action="@{/regEst}" th:object="${estudiante}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="carne">Carné </label>
                                <input type="text" id="carne" class="form-control" th:field="*{carne}" ><span th:errors="*{carne}" style="color:  #e81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="carne">Carné de minoridad </label>
                                <input type="password" id="carnemin" th:field="*{carneMin}" class="form-control"><span th:errors="*{carneMin}" style="color:  #e81505;"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre </label>
                                <input type="text" id="nombre" class="form-control" th:field="*{nombre}" ><span th:errors="*{nombre}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellido">Apellido: </label>
                                <input type="text" id="apellido" class="form-control" th:field="*{apellido}" ><span th:errors="*{apellido}" style="color:  #E81505;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dir">Dirección</label>
                            <textarea id="dir" class="form-control" th:field="*{direccion}" rows="3" cols="50" style="resize: none"></textarea><span th:errors="*{direccion}" style="color:  #E81505;"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fnac">Fecha de nacimiento </label>
                                <input type="date" id="fnac" class="form-control" th:field="*{fechaNac}" ><span th:errors="*{fechaNac}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="centro">Centro educativo </label>
                                <select id="centro" class="form-control" th:field="*{cCentroEd}">
                                    <option th:each="c : ${centros}" th:value="${c.idCentroEd}" th:text="${c.nombre + ',' + ' ' + c.municipio.nombre + ',' + ' ' + c.municipio.departamento.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="tm">Teléfono móvil </label>
                                <input type="text" id="tm" class="form-control" th:field="*{telefonoMovil}"><span th:errors="*{telefonoMovil}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tf">Teléfono fijo: </label>
                                <input type="text" id="tf" class="form-control" th:field="*{telefonoFijo}"><span th:errors="*{telefonoFijo}" style="color:  #E81505;"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombreM">Nombre de mamá: </label>
                                <input type="text" id="nombreM" class="form-control" th:field="*{nombreMama}" ><span th:errors="*{nombreMama}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombreP">Nombre de papá: </label>
                                <input type="text" id="nombreP" class="form-control" th:field="*{nombrePapa}" ><br><span th:errors="*{nombrePapa}" style="color:  #E81505;"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a href="/expedientes"><input type="button" value="Regresar" class="btn btn-outline-secondary"></a>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script th:if="${msg == '1'}">
        swal("¡Éxito!", "Se ha registrado el estudiante.", "success");
    </script>

    <script th:if="${msg == '2'}">
        swal("Algo ha salido mal...", "Parece ser que ese carné ya ha sido registrado.", "error");
    </script>

    <script th:if="${msg == '3'}">
        swal("Algo ha salido mal...", "Ha ocurrido un error, revisa que la información ingresada sea correcta.", "error");
    </script>

</body>
</html>