<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/custom.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function LimpiarCampos() {
            document.getElementById("usuario").value="";
            document.getElementById("clave").value="";
            document.getElementById("nombre").value="";
            document.getElementById("apellido").value="";
            document.getElementById("munic").selectedIndex= "0";
            document.getElementById("dir").value="";

        }

    </script>
</head>
<body class="bg-light">

    <div class="row px-5 pt-2 border-bottom m-0 bg-white">
        <div class="col">
            <nav class="navbar navbar-expand-md">
                <a href="/index"><img src="imgs/logo_letrasN.png" class="img-fluid" alt="Responsive image"></a>
            </nav>
        </div>
    </div>
    <section class="d-flex">
        <div class="container align-self-center">
            <div class="row p-3">
                <div class="col-12">
                    <h1 class="mb-3 display-4"> Registrar Usuario </h1>
                    <form th:action="@{/regUser}" th:object="${usuario}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="usuario">Usuario</label>
                                <input type="text" id="usuario" class="form-control" th:field="*{nUsuario}" ><span th:errors="*{nUsuario}" style="color:  #e81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="clave">Contraseña</label>
                                <input type="password" id="clave" class="form-control" th:field="*{clave}"><span th:errors="*{clave}" style="color:  #E81505;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" th:field="*{nombre}" ><span th:errors="*{nombre}" style="color:  #E81505;"></span>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" class="form-control" th:field="*{apellido}" ><span th:errors="*{apellido}" style="color:  #E81505;"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fnac">Fecha de Nacimiento</label>
                                <input type="date" id="fnac" class="form-control" th:field="*{fechaNacimiento}" ><span th:errors="*{fechaNacimiento}" style="color:  #E81505;"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="munic">Municipio</label>
                                <select id="munic" class="form-control" th:field="*{cMunicipio}">
                                    <option th:each="m : ${municipios}" th:value="${m.idMunicipio}" th:text="${m.departamento.nombre + ',' + ' ' + m.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dir">Dirección</label>
                            <textarea id="dir" class="form-control" th:field="*{direccion}" rows="3" cols="50" style="resize: none"></textarea><span th:errors="*{direccion}" style="color:  #E81505;"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <button type="button" value="Limpiar" text="Limpiar" class="btn btn-warning" onclick="LimpiarCampos()">Limpiar campos</button>
                        <a href="/index"><input type="button" value="Regresar" class="btn btn-outline-secondary"></a>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script th:if="${msg == '1'}">
        swal("¡Éxito!", "Se ha registrado el usuario, espere a que su usuario sea habilitado para iniciar sesión.", "success");
    </script>

    <script th:if="${msg == '2'}">
        swal("Algo ha salido mal...", "Parece ser que ese usuario ya ha sido registrado, prueba con otro.", "error");
    </script>

    <script th:if="${msg == '3'}">
        swal("Algo ha salido mal...", "Ha ocurrido un error, revisa que la información ingresada sea correcta.", "error");
    </script>

    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>